/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/05/2017, 18:29:58
    Author     : SE20582
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


*::before, *::after {
    box-sizing: border-box;
}
.navbar-brand{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:700;
        width: 135px
	
}
.navbar{
	border-radius: 0 0 5px 0px;

	margin-bottom: -10px;
	}
.navbar-nav li:hover{
	background: #F97357;	
	
}
a{ 
font-family: 'Roboto', sans-serif;
}    


*::before, *::after {
    box-sizing: border-box;
}
.bg-full::after {
    background-color: #000a11;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.75;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}
.bg-full {
    background-attachment: fixed;
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-bkg{
    background-color: #002147
}

body {
    font-size: 16px;
}

.la-anim-1::after {
    background-color: #ff6d00;
    box-shadow: 0 0 15px #e65100, 0 0 5px #e65100;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(2deg) translateY(-2px);
    transition: opacity 0.2s ease 0s, box-shadow 2s ease 4s;
    visibility: hidden;
    width: 100px;
}

.la-anim-1 {
    background-color: #ff6d00;
    height: 3px;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: translate3d(-100%, 0px, 0px);
    visibility: hidden;
    width: 100%;
    z-index: 9999;
}
* {
    box-sizing: border-box;
}
h1{
   color:white;
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight:700;
   text-align: center;
   font-size: 2.5em;
   padding-bottom:40px;
   padding-top:5%
   
    
}
h2{
   color:#ff6d00;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   text-align: center
    
}

.form-group{
    color: white;
	
    
}
.form-control{
	background-color: #002147;
    border-color: #002147;
    color: white;
    font-family: "Roboto-Regular",sans-serif;
    font-size: 1.125em;
    height: 50px;
    margin-bottom: 20px;
	width:35%
    
}
.dropdown{
    color: white;
     margin-bottom: 20px;
     
}

h3{
   color:#ff6d00;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   text-align: left;
   margin-bottom: 40px;
   margin-top: 45px
       
    
}

.btn{
	  background-color:  #ff6d00;
	  border: #ff6d00;
	  height: 33px;
	  font-weight: 600;
	  width: 140px;
	  margin-top: 8px;
}


.busqueda{
	/*background-image: url("../img/fondosala4.jpg");*/
   -webkit-background-size: cover;
   -moz-background-size: cover;

   background-size: cover;
   height: 100%;
   width: 100% ;
   text-align: center;
	height:390px;

}


/*Busqueda*/

#buscador {
	
	/*width:450px;*/
	margin: 0 auto;
	
	
}

fieldset{
	display:inline-block;
	background-color: #ff6d00;
	border: 1px solid #333;
	border-radius: 5px;
	padding-left:40px;
	border-right:1px solid;
        width: max-content;
	
}
#inputsearch #btn-search{
	position:relative;
	width:200px;
	height:50px;
	padding:0
	
} 
#inputsearch{
	border:none;
	color:#666;
	border-right: 1px solid grey;
	
}
.fa fa-search{
    z-index: 3
}

#country_name{
	border:none
}

#btn-search{
	width:50px;
	border:none;
	background-color:#ff6d00;
	height: 40px;
}

#grupobtn{
	color: white;
	
}
#btn2{
	background-color:black
}

.card{
	color:white;
	background-color:black;
	opacity:80%
}




/*MODAL*/

.modal-content{
	background-image: url("../img/fondosala4.jpg");
            /*url("../img/fondoresultados2.jpg");*/
	height: auto;
	
}

.modal-header {
    padding: 15px;
    border-bottom:none
}

h5{
	color:white;
	font-family:roboto;
	font-size:2em
}
.contenedor_error{
    color: red;
    font-weight: 800;

}



.modal-footer {
    border-top:none
}

.form-group {
    color: white;

}



.button.close {
	color:orange
}



    /* */






/*media query*/

@media (min-width: 992px){

.col-md-offset-3 {
    margin-left: 16%;
}

.col-md-6 {
    width: 68%;
}

.form-control{
	width:100%
    
}

#buscador {
	
	margin-bottom:80px
	
	
}

}



/*PAGINA RESULTADOS*/
/*PAGINA RESULTADOS*/
/*PAGINA RESULTADOS*/


.resultados{
	background-image: url("../img/fondoresultados2.jpg");
  	height:auto

}
#resultados{
	background-color: #000a11;
	height:auto;
	width: 75%;
	margin:auto;
        color: #ff6d00;
   
	
}
.media{
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
    margin-bottom: 5px
}

footer{
    height: 200px;
    width: 100%;
    background-color: #666
    
}



/* ESTILOS PARA REGISTRACION Y BOTONES LOGIN*/

#btnModalLogin{
    background: #ff6d00
}

#btnPublicacionMusico{
    background: #ff6d00;
    width: 100%
}

#btnPublicacionBanda{
    background: #ff6d00;
    width: 100%
}

.navbar-left {
    float: right !important;
    margin-right: -15px;
}